<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank12
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="location">
      <p>latitude : {{location.lat}} - longitude : {{location.lng}}</p>
      <p>{{location.time | date : "medium"}}</p>
    </ng-container>
  </div>
</ion-content>
